@import "mixins/grid";
@import "custom";

@function opposite-position($pos) {
  @if $pos == left { @return right }
  @else if $pos == right { @return left }
  @else if $pos == top { @return bottom }
  @else if $pos == bottom { @return top }
}

@mixin arrow($dir,$size,$color) {
  width: 1px;
  height: 1px;
  border: $size*.6667 solid transparent;
  border-#{opposite-position($dir)}: $size solid $color;
  border-#{$dir}: 0 solid transparent;
}

@mixin circle($size,$color) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color;
}

@mixin transition($prop,$t,$e) {
  -webkit-transition: $prop $t $e;
  -moz-transition: $prop $t $e;
  transition: $prop $t $e;
}

// global overrides

a { cursor: pointer; }

ul { padding-right: 0; }

button:focus { outline: none; }

h1,
h2,
h3 {
  padding-top: 2rem;
}

h1:first-of-type {
  padding-top: 0;
}

pre {
  background-color: $code-bg;
  margin-left: -.3rem;
  padding-left: .3rem;
}

.container {
  padding-top: 3rem;
  padding-bottom: 9rem;
}

@include media-breakpoint-down(sm) {
  .container {
    padding-top: 0;
  }
}

.close {
  font-weight: 300;
  font-size: 1rem;
  text-shadow: none;
  opacity: 1;
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

// utilities

.body { padding-left: 0; }

@include media-breakpoint-down(sm) {
  .body { 
    padding-left: $grid-gutter-width/2; 
    margin-top: 4rem;
  }
}

.action { 
  margin-top: 1rem;
  font-weight: 500; 
  letter-spacing: 1px; 
}

.action > label {
  margin-right: $grid-gutter-width/2;
  line-height: 1rem;
}

.action.create > label { 
  @include circle(16px,transparent);
  border: 3px solid #000;
  vertical-align: middle;
}

.action.add > label:before { 
  content: "+";
  font-size: 1.3rem;
  font-weight: 500;
}

// talk

.planet,
.room { 
  font-family: 'scp'; 
}

// menu

.app {
  vertical-align: top;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin-top: 9px;
}

@include media-breakpoint-down(md) {
  .app { 
    font-size: 1rem;
    margin-top: 6px;
  }
}

@include media-breakpoint-down(sm) {
  .app {
    margin-top: 0;
    line-height: 1rem;
  }
}

.context {
  margin-top: 1rem;
  
  .name { 
    font-weight: 300; 
    font-size: 1.2rem; 
    font-family: 'scp';
  }
}

@include media-breakpoint-down(md) {
  .context .name {
    font-size: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .context {
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}


// grams

div.meta {
  display: inline-block;
}

ul.grams {
  list-style-type: none;
  padding: 0;
}

label.public {
  background-color: $purple;
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
}

label.public:before {
  content: '%';
  color: #fff;
  font-family: 'scp';
  font-size: .8rem;
  font-weight: 500;
  line-height: 1rem;
  vertical-align: middle;
}

div.meta > label,
div.meta > h2,
div.meta > div {
  display: inline-block;
}

h2.author {
  font-family: 'scp';
  font-size: .8rem;
  font-weight: 400;
  margin-top: 0
}

.gram.same div.meta {
  display: none;
}

@include media-breakpoint-down(sm) {
  label.public {
    margin-right: 9px;
  }
}

// input

.input {
  border-bottom: 3px solid #000;
  display: inline-block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 .2rem;
  min-width: 1rem;
  min-height: 1rem;
}

.audience {
  margin-bottom: 2rem;
}

.audience .input {
  border-color: $gray-dark;
  font-family: 'scp';
}

.message .input {
  border-color: $gray-light;
  font-family: 'bau';
}

.message {
  margin-bottom: 6rem;
}