@import "mixins/grid";
@import "custom";

@function opposite-position($pos) {
  @if $pos == left { @return right }
  @else if $pos == right { @return left }
  @else if $pos == top { @return bottom }
  @else if $pos == bottom { @return top }
}

@mixin arrow($dir,$size,$color) {
  width: 1px;
  height: 1px;
  border: $size*.6667 solid transparent;
  border-#{opposite-position($dir)}: $size solid $color;
  border-#{$dir}: 0 solid transparent;
}

@mixin circle($size,$color) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color;
}

@mixin transition($prop,$t,$e) {
  -webkit-transition: $prop $t $e;
  -moz-transition: $prop $t $e;
  transition: $prop $t $e;
}

// global overrides

a { cursor: pointer; }

ul { padding-right: 0; }

button:focus { outline: none; }

h1,
h2,
h3 {
  padding-top: 2rem;
}

h1:first-of-type {
  padding-top: 0;
}

pre {
  background-color: $code-bg;
  margin-left: -.3rem;
  padding-left: .3rem;
}

.container {
  padding-top: 3rem;
  padding-bottom: 9rem;
}

@include media-breakpoint-down(sm) {
  .container {
    padding-top: 0;
  }
}

.close {
  font-weight: 300;
  font-size: 1rem;
  text-shadow: none;
  opacity: 1;
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

// utilities

.planet,
.room { 
  font-family: 'scp'; 
}

.body { padding-left: 0; }

@include media-breakpoint-down(sm) {
  .body { 
    padding-left: $grid-gutter-width/2; 
    margin-top: 4rem;
  }
}

.action { 
  margin-top: 1rem;
  font-weight: 500; 
  letter-spacing: 1px; 
}

.action > label {
  margin-right: $grid-gutter-width/2;
  line-height: 1rem;
}

.action.create > label { 
  @include circle(16px,transparent)
  border: 3px solid #000;
  vertical-align: middle;
}

.action.add > label:before { 
  content: "+";
  font-size: 1.3rem;
  font-weight: 500;
}

// nav

.nav.container {
  position: fixed;
  left: 50%;
  width: 100%;
  padding-top: 0;
  z-index: 100;
  @each $break,$max-width in $container-max-widths {
    @include media-breakpoint-up($break) {
      margin-left: -$max-width/2;
    }
  }
}

@include media-breakpoint-down(sm) {
  .nav.container {
    left: 0;
    top: 0;
  }
}

.ctrl,
.menu .contents { padding-top: 3rem; }

.ctrl {
  padding-left: $grid-gutter-width;

  ul.nav {
    margin-top: 2rem;
    overflow: hidden;
  }

  ul.nav:hover {
    overflow:visible;
  }

  a.nav-link:hover { text-decoration:underline; }
  a.nav-link { letter-spacing: 1px; }
  .selected a.nav-link { 
    font-weight: 500; 
    letter-spacing: 0;
  }
}

@include media-breakpoint-down(md) {
  ul.nav { line-height: 1.3rem; }
  a.nav-link { font-size: .8rem; }
}

@include media-breakpoint-down(sm) {
  .ctrl {
    position: relative;
    max-height: 3rem;
    padding-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #000;
    @include transition(max-height,.6s,ease-in-out)
  }

  ul.nav {
    line-height: 2rem;
    margin-bottom: 2rem;  
  }

  a.nav-link { font-size: 1rem; }

  .ctrl.open {
    max-height: 25rem;

    ul.nav {
      max-height: 9rem;
      overflow-y: scroll;
    }
  }

  ul.nav {
    margin-top: 1rem;
  }
}

.navbar-toggler {
  transition: opacity .2s, transform .3s;
  -webkit-transition: opacity .2s, transform .3s;
}

.navbar-toggler.open {
  transform: rotate(.25turn);
  opacity: .2;
}

@include media-breakpoint-up(md) {
  .ctrl .navbar-toggler { display: none; }
  .ctrl .navbar-toggler.show { 
    display: inherit; 
    padding: 0;
    margin-left: 2px;
  }
}

@include media-breakpoint-down(md) {
  .navbar-toggler {
    font-size: 1rem;
    margin-left: 0;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-toggler {
    padding: 0;
  }
}

.icon {
  div {
    display: inline-block;
    margin-right: .6rem;
  }

  .home { 
    margin: 6px 9px 12px 0;
    @include circle(24px,transparent); 
    border: 6px solid $gray-light;
  }

  .dpad {
    display: block;
  }

  .up { @include arrow(top,18px,#000); }
  .prev { @include arrow(left,18px,#000); margin-right: .6rem }
  .next { @include arrow(right,18px,#000); }
}

@include media-breakpoint-down(md) {
  .icon {
    > div {
      display: inline-block;
      margin-right: .6rem;
      vertical-align: middle;
    }

    .dpad {
      display: inline;
    }

    .home { @include circle(18px,transparent); border-width: 4px;}
    .up { @include arrow(top,12px,#000); margin-left: 1px; }
    .prev { @include arrow(left,12px,#000); margin-right: .6rem }
    .next { @include arrow(right,12px,#000); }
  }
}

@include media-breakpoint-down(sm) {
  .icon { 
    margin-left: 0;
    .home { margin-top: 0; margin-bottom: 0; }
  }
}

// submenu

.menu {
  padding-left: 0;
  padding-right: 0;
  overflow:hidden;

  .contents {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    padding-bottom: 6rem;
    position: relative;
    left: -100%;
    @include transition(left,.3s,ease-in-out)
  }

  .close {
    margin-top: -2rem;
  }

  h2 { 
    font-size: 1rem; 
    padding-top: 3rem;
  }
  h2:first-of-type { padding-top: 0; }
  
  label.sum { 
    font-family: 'scp'; 
    margin-left: $grid-gutter-width/2;
    font-size: 1.2rem;
  }

  .name,
  .planet {
    display: inline-block;
  }

  .name,
  .planet,
  .room {
    font-size: .8rem;
  }

  .name { 
    min-width: 33.333%; 
    font-size: .9rem;
  }
  .planet { 
    min-width: 66.667%; 
  }
}

.menu.depth-1 .contents {
  background-color: $gray-lightest;
  border-left: 2px solid $gray-light;
}

.menu.depth-2 .contents {
  background-color: $gray-lighter;
  border-left: 2px solid $gray-light;
}

.menu.open .contents {
  left: 0;
}

@include media-breakpoint-down(sm) {
  .menu {
    height: 100%;
    padding-left: $grid-gutter-width/2;

    .contents {
      left: inherit;
      top: -100%;
      padding-top: $grid-gutter-width/2;
      @include transition(top,.3s,ease-in-out)
    }

    .close {
      margin-top: 0;
    }
  }

  .menu.open .contents {
    top: 0;
  }
}

// talk

// menu

$purple: #A100FE;

.app {
  vertical-align: top;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin-top: 9px;
}

@include media-breakpoint-down(md) {
  .app { 
    font-size: 1rem;
    margin-top: 6px;
  }
}

@include media-breakpoint-down(sm) {
  .app {
    margin-top: 0;
    line-height: 1rem;
  }
}

.context {
  margin-top: 1rem;
  
  .name { 
    font-weight: 300; 
    font-size: 1.2rem; 
    font-family: 'scp';
  }
}

@include media-breakpoint-down(md) {
  .context .name {
    font-size: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .context {
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}


// grams

div.meta {
  display: inline-block;
}

ul.grams {
  list-style-type: none;
  padding: 0;
}

label.public {
  background-color: $purple;
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
}

label.public:before {
  content: '%';
  color: #fff;
  font-family: 'scp';
  font-size: .8rem;
  font-weight: 500;
  line-height: 1rem;
  vertical-align: middle;
}

div.meta > label,
div.meta > h2,
div.meta > div {
  display: inline-block;
}

h2.author {
  font-family: 'scp';
  font-size: .8rem;
  font-weight: 400;
  margin-top: 0
}

.gram.same div.meta {
  display: none;
}

@include media-breakpoint-down(sm) {
  label.public {
    margin-right: 9px;
  }
}

// input

.input {
  border-bottom: 3px solid #000;
  display: inline-block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 .2rem;
  min-width: 1rem;
  min-height: 1rem;
}

.audience {
  margin-bottom: 2rem;
}

.audience .input {
  border-color: $gray-dark;
  font-family: 'scp';
}

.message .input {
  border-color: $gray-light;
  font-family: 'bau';
}

.message {
  margin-bottom: 6rem;
}